@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@keyframes zoomInOut {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

html, body {
  color: #E7F6F2;
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  background-image: url("../img/deepspace.webp");
  background-size: cover;
}

header {
  padding: 1rem;
  background-color: #395B64;
  margin-bottom: 2rem;
  opacity: 0.8;
}
header a {
  color: #E7F6F2;
}

.container-960 {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.main-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid white;
  margin: auto;
}

.img-row img {
  width: 60px;
  animation: zoomInOut 2.5s ease infinite;
}
#mercury-img {
  animation-delay: 0.5s;
}
#venus-img {
  animation-delay: 1s;
}
#mars-img {
  animation-delay: 0.2s;
}
.img-row td {
  text-align: center;
  border-right: 0;
}
.img-row {
  background-color: transparent;
}

td, th {
  padding: 15px;
  border: 1px dashed white;
  font-size: 1.2em;
}

tr {
  background-color: #2C3333;
}

th {
  background-color: #A5C9CA;
  color: #2C3333;
}

td:first-child {
  font-weight: bold;
  color: #A5C9CA;
}

.red-color {
  color: #E94560
}

.table-caption {
  font-style: italic;
}

footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #E7F6F2;
  text-align: center;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}